.Rproj.user
.Rhistory
.RData
.Ruserdata
01_Intro.qmd
02_Data_Manipulation.qmd
03_Factors.qmd
04_Relational_Data.qmd
05_Data_Visualisation_part1.qmd
06_Data_Visualisation_part2.qmd
07_EDA_part1.qmd
08_EDA_part2.qmd